@import "tailwindcss";

.scrollbar-hide::-webkit-scrollbar{
    display: none;
};

.custom-loader {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    display: grid;
    border:8px solid #0000;
    border-radius: 50%;
    border-color:#E4E4ED #0000;
    animation: s6 2s infinite linear;
};
#searchinput:focus {
    width: 130px;
    scale: 1;
    transition: all 0.2s linear;
    transform-origin: left;
}

#searchinput:focus + #searchicon {
    transition: all 0.2s linear;
    scale: 1.1;
    transform: translate(21px, 2px);
}

.mobnav {
    transition: all;
    transition: 500ms;
    transform: translate(100vw);
}

.mobnav.navshow {
    transition: all;
    transition: 500ms;
    transform: translateX(0vw)
}

.custom-loader::before,
.custom-loader::after {    
    content:"";
    grid-area: 1/1;
    margin:4px;
    border:inherit;
    border-radius: 50%;
};

.custom-loader::before {
    border-color:#FFE83D #0000;
    animation:inherit; 
    animation-duration: 1s;
    animation-direction: reverse;
}

.custom-loader::after {
    margin:16px;
};

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
};